<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/footer.css">
</head>

<body>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a class="navbar-brand" href="#">
            <img src="logo.png" alt="Logo" height="50">
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum incidunt architecto soluta laboriosam,
            perspiciatis, aspernatur officiis esse.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.tiktok.com/"><i class="fab fa-tiktok"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <p class="footer-content">&copy; 2023 Your Website. All rights reserved. | Contact us: contact@yourwebsite.com
          </p>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>