header {
    z-index: 100;
    width: 100%;
}
.sticky-header {
    position: fixed;
}
.navbar-nav {
    align-items: center;
}
.nav-item {
    margin-right: 10px;
}
.add-listing-button:hover {
    background-color: #c9302c; 
}
