.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    max-width: 200px;
  }
  
  .product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .product-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .product-price {
    font-size: 16px;
  }
  
  .product-description {
    font-size: 14px;
    margin-top: 10px;
  }
  .col-md-3 {
    position: relative;
    overflow: hidden;
}

.product-item {
    padding: 10px;
}

.product-item img {
    width: 100%; 
    transition: transform 0.3s ease;
}

.product-item:hover img {
    transform: scale(1.2);
}
.container{
  width: 500px;
}
