
.banner {
    background-image: url("/banner.jpg");
    background-size: auto;
    background-position: center;
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner-content {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  
  .banner-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .banner-content p {
    font-size: 18px;
  }
  